yfinance
pandas
matplotlib
numpy
statsmodels
scipy
IPython
voila
ipympl
notebook==6.5.4
ipywidgets==7.6.5
widgetsnbextension==3.5.2
ipympl==0.9.3
jupyter_contrib_nbextensions
jupyterlab_widgets
jupyter_bokeh
jupyter
